.env
.DS_Store
.*.sw[a-z]
.sw[a-z]
*.un~
Session.vim
*.class
*.log
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
.worksheet
.idea
.ensime
.ensime_cache
*.iml
